---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_104EOf4GdL7XcZUqXA0ZJkFu&description=Sign%20up%20charge%20for%20john%40example.com
    headers:
      Authorization:
      - Bearer sk_test_l1oHOnIR4xEELjXzfTl7GalW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_104EOf4GdL7XcZUqFiGnvRzq",
          "object": "charge",
          "created": 1402908851,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_104EOf4GdL7XcZUqgL8dw2iU",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 7,
            "exp_year": 2015,
            "fingerprint": "glLDFj1zApoBE82z",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_104EOf4GdL7XcZUqGKTxU0xv",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for john@example.com",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Mon, 16 Jun 2014 08:54:12 GMT
recorded_with: VCR 2.9.2
