---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2015&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_l1oHOnIR4xEELjXzfTl7GalW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_104E5P4GdL7XcZUqoeCfplaP",
          "livemode": false,
          "created": 1402837206,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_104E5P4GdL7XcZUqH4KeFK0Q",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "glLDFj1zApoBE82z",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "customer": null
          }
        }
  recorded_at: Sun, 15 Jun 2014 13:00:07 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&card=tok_104E5P4GdL7XcZUqoeCfplaP&description=a%20valid%20charge
    headers:
      Authorization:
      - Bearer sk_test_l1oHOnIR4xEELjXzfTl7GalW
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      Stripe-Version:
      - '2014-05-19'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_104E5P4GdL7XcZUqniQbi1eB",
          "object": "charge",
          "created": 1402837208,
          "livemode": false,
          "paid": true,
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "card": {
            "id": "card_104E5P4GdL7XcZUqH4KeFK0Q",
            "object": "card",
            "last4": "4242",
            "type": "Visa",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "glLDFj1zApoBE82z",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "customer": null
          },
          "captured": true,
          "refunds": [],
          "balance_transaction": "txn_104E5P4GdL7XcZUqIFl31aeV",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "a valid charge",
          "dispute": null,
          "metadata": {},
          "statement_description": null,
          "receipt_email": null
        }
  recorded_at: Sun, 15 Jun 2014 13:00:10 GMT
recorded_with: VCR 2.9.2
